.custom-graph-page {
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif; 
  border: 1px solid #8e3d6b;
  border-radius: 15px;
  background: linear-gradient(135deg, #fefefe, #f9f9f9);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.custom-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  letter-spacing: 1px;
  color: #690342;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

.visual-block {
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: center;
  border: 2px dashed #8e3d6b; 
  padding: 20px;
  background: linear-gradient(135deg, #ffffff, #f8f0f7);
  border-radius: 10px; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.visual-block:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.centered-controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 10px; 
}

.centered-controls button {
  margin: 5px;
  padding: 10px 16px;
  background: linear-gradient(90deg, #8e3d6b, #690342);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.centered-controls button:hover {
  background: linear-gradient(90deg, #690342, #8e3d6b); 
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}


.info-panel {
  text-align: center;
  margin-bottom: 30px;
  font-size: 16px;
  color: #690342;
}

.matrix-panel {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  background: linear-gradient(135deg, #f9f9f9, #fff); 
  border-top: 2px solid #8e3d6b;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.home-button-panel {
  text-align: center;
  margin-top: 30px;
}

.go-home-btn {
  padding: 12px 24px;
  background: linear-gradient(90deg, #690342, #8e3d6b);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.go-home-btn:hover {
  background: linear-gradient(90deg, #8e3d6b, #690342); 
  transform: scale(1.1); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}
